@media screen and (min-width: 320px) and (max-width: 427px) {
  .modal {
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 586px;
    overflow: scroll;
  }
  .container {
    width: 320px;
  }
  .hero {
    max-width: 428px;
    height: 432px;
    margin: 0 auto;
  }

  .hero-title {
    max-width: 320px;
    width: auto;
    height: auto;
    margin: 0 auto;
    margin-bottom: 72px;
  }
  /**----------------------OPPORTUNITIES---------------------**/
  .opportunities-list {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
  }
  .opportunities-titles {
    text-align: center;
  }
  /**----------------------WORK---------------------**/
  .work {
    display: none;
  }
  .work-title {
    display: none;
  }
  .work-list {
    display: none;
  }
  /**----------------------TEAM---------------------**/
  .team-item {
    margin: 0 auto;
  }
  /**----------------------CUSTOMERS---------------------**/
  .customers-list {
    display: flex;
    gap: 52px 16px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .customers-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #8e8f99;
    border: 1px solid currentColor;
    border-radius: 4px;
    width: 128px;
    height: 68px;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  /**--------------------------FOOTER-------------------------**/
  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-logo-divv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-text {
    margin-bottom: 72px;
  }
  .footer-icon-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-soc-list {
    margin-bottom: 72px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-form {
    flex-wrap: wrap;
  }
  .subscribe-email {
    width: 310px;
    height: 40px;
  }
  /**--------------------------HEADER-------------------------**/
  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
  }
  .mob-menu {
    padding: 22px 22px 36px 36px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
  }

  .menu-list {
    margin-top: 56px;
  }
  .menu-item {
    margin-bottom: 20px;
  }
  .menu-address {
    margin-top: auto;
  }
  .menu-studio-link {
    color: #404bbf;
  }

  .menu-address-list {
    margin-bottom: 48px;
  }
  .menu-address-link-tel {
    font-weight: 700;
    font-size: 24px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-address-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(16 / 12);
    display: block;
    margin-top: 20px;
  }

  .menu-soc-list {
    display: flex;
    gap: 36px;
  }

  .menu-soc-item {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .container {
    width: 428px;
  }
  /**----------------------OPPORTUNITIES---------------------**/
  .opportunities-list {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 72px;
  }
  .opportunities-titles {
    text-align: center;
  }

  /**----------------------WORK---------------------**/
  .work {
    display: none;
  }
  .work-title {
    display: none;
  }
  .work-list {
    display: none;
  }
  /**----------------------TEAM---------------------**/
  .team-item {
    margin: 0 auto;
  }
  /**--------------------------FOOTER-------------------------**/
  .footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-logo-divv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-logo {
    margin: 0 auto;
  }
  .footer-text {
    margin-bottom: 72px;
  }
  .footer-icon-container {
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-soc-list {
    margin-bottom: 72px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .subscribe-form {
    flex-wrap: wrap;
  }
  /**--------------------------HEADER-------------------------**/
  .header-navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: auto;
  }
}
/**----------------------TABLET---------------------**/
@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 768px;
  }
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    max-width: 768px;
    height: 436px;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-tablet-2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
  /**----------------------OPPORTUNITIES---------------------**/
  .opportunities-list {
    display: flex;
    gap: 72px 24px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .opportunities-item {
    width: 356px;
    height: 120px;
  }

  .opportunities-list li {
    flex-basis: calc((100% - 24px) / 2);
  }
  /**----------------------WORK---------------------**/
  .work {
    display: none;
  }
  .work-title {
    display: none;
  }
  .work-list {
    display: none;
  }

  /**--------------------------TEAM-------------------------**/
  .team {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .team-list {
    display: flex;
    gap: 64px 24px;
    border-radius: 0px 0px 4px 4px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list {
    width: 100%;
  }
  /**-------------------------CUSTOMERS---------------------**/
  .customers-list {
    gap: 72px 24px;
  }
  /**--------------------------FOOTER-------------------------**/

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 582px;
    gap: 72px 24px;
  }
  .footer-icon-container {
  }

  .text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16px);
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .subscribe-email {
    width: 264px;
    height: 40px;
  }
  /**-----------------------BACKDROP------------------------*/
  .modal {
    width: 408px;
    height: 584px;
  }
  /**--------------------------HEADER-------------------------**/
  .logo-link {
    margin-right: 120px;
  }
  .header {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e7e9fc;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .container-header {
    display: flex;
    align-items: center;
  }

  .container {
    width: 768px;
    margin: 0 auto;
    padding: 0px 15px;
  }

  .logo-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
  }
  .header-logo {
    color: #2e2f42;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-link {
    position: relative;
    color: #404bbf;
  }

  .studio-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -26px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-link {
  }

  .header-link:hover {
    color: #404bbf;
  }
  .header-link:focus {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
  }
  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .header-address-link {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:focus {
    color: #404bbf;
  }
  .header-address-link:hover {
    color: #404bbf;
  }
  .menu-open-btn {
    display: none;
  }
}
/**----------------------Desktop---------------------**/
@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 1440px;
    height: 600px;
    margin: 0 auto;
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg-desktop-2x.png);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
  /**----------------------OPPORTUNITIES---------------------**/
  .opportunities {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .icons-opportuinities-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/background-opportinities.jpg);
    border-radius: 4px;
    margin-bottom: 8px;
    width: 264px;
    height: 112px;
  }
  .icons-opportuinities-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .opportunities-list {
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .opportunities-titles {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
  .about-opportunities-titles {
    font-weight: 400;
  }
  /**--------------------------TEAM-------------------------**/
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
    border-radius: 0px 0px 4px 4px;
  }

  .team-item {
    background-color: #ffffff;
    margin: 0 auto;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
  .about-team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
  }
  .about-team-title-work {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
  }
  .team-soc-list {
    display: flex;
    justify-content: center;
    gap: 24px;
  }
  .team-item {
    margin: 0 auto;
  }
  /**-------------------------CUSTOMERS---------------------**/
  .customers-list {
    gap: 24px;
  }
  .customers {
    padding: 120px 0px;
  }
  /**--------------------------FOOTER-------------------------**/
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-icon-container {
    margin-left: 120px;
  }

  .subscribe {
    margin-left: 80px;
  }

  .text-subscribe {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16px);
    letter-spacing: 0.02em;
    color: #ffffff;
  }
  .subscribe-email {
    width: 264px;
    height: 40px;
  }
  /**-----------------------BACKDROP------------------------*/
  .modal {
    width: 408px;
    height: 584px;
  }
  /**--------------------------HEADER-------------------------**/
  .logo-link {
    margin-right: 76px;
  }
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
  }
  .header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  .container-header {
    display: flex;
    align-items: center;
  }

  .container {
    margin: 0 auto;
    padding: 0px 15px;
  }

  .logo-link {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
  }
  .header-logo {
    color: #2e2f42;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }
  .header-item {
  }

  .header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #2e2f42;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .studio-link {
    position: relative;
    color: #404bbf;
  }

  .studio-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -27px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-link {
  }

  .header-link:hover {
    color: #404bbf;
  }
  .header-link:focus {
    color: #404bbf;
  }

  .header-address {
    font-style: normal;
  }
  .header-address-list {
    display: flex;
    gap: 40px;
  }
  .header-address-link {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:focus {
    color: #404bbf;
  }
  .header-address-link:hover {
    color: #404bbf;
  }
  .menu-open-btn {
    display: none;
  }
}
